html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 15px;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0.5mm;
  font-size: large;
  line-height: 1.6;
  text-align: justify;
  --colore: rgba(238, 163, 25, 0.89);
  color: var(--colore);
}

/*SmartPhone*/
@media only screen and (max-width: 435px) {
  * {
    margin: 1px;
    padding: 10;
  }
  aside {
    margin: 10px !important;
  }
  .photo {
    display: flex !important;
    align-items: right !important;
    height: 350px;
  }
  main {
    display: block !important;
  }
  article {
    display: block !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .button {
    background-color: rgba(255, 166, 0, 0.568);
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 25px 25px;
    overflow: auto;
  }
  .logo {
    display: flex !important;
    justify-content: center !important;
    width: 75%;
    margin: 10px;
  }
  .titolo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon {
    visibility: collapse;
  }
}
/*Tablet*/
@media only screen and (min-width: 436px) and (max-width: 960px) {
  * {
    margin: 5px;
    padding: 10;
  }
  .photo {
    height: 400px;
  }
  .logo {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 75%;
    margin: 10px;
  }
  article {
    display: block !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .button {
    background-color: rgba(255, 166, 0, 0.568);
    display: flex !important;
    justify-content: center !important;
    margin: 25px 25px;
    overflow: auto;
  }
  .titolo {
    padding: 0px 75px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
}
.header {
  z-index: 9999 !important;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.1921568627);
}

body .header {
  position: sticky !important;
  top: 0px !important;
  transition-duration: 0.2s !important;
}

main {
  display: flex;
  overflow: auto;
}

aside {
  display: block;
  margin: 250px 100px;
  justify-content: end;
}

.button {
  display: flex;
  overflow: auto;
  border: rgba(0, 0, 0, 0.541) solid 1mm;
  padding: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 3cm;
  box-shadow: -10px 0px 13px -7px rgba(0, 0, 0, 0.5137254902), 10px 0px 13px -7px rgba(0, 0, 0, 0.4666666667), 0px 7px 9px 4px rgba(92, 64, 207, 0.18);
}
@media only screen and (min-width: 961px) {
  .button {
    width: 25%;
  }
}

.nav-item:hover {
  background-color: rgba(128, 128, 128, 0.116);
  border-radius: 5%;
  transition-duration: 0.1s;
}

.change {
  text-decoration: none;
}
@media only screen and (min-width: 961px) {
  .change {
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  }
}

.card:hover {
  transition-duration: 0.5s;
  filter: brightness(1.1);
}

.button:hover {
  transition-duration: 0.5s;
  filter: brightness(1.1);
  background-color: rgba(128, 128, 128, 0.068);
}

.change:hover {
  color: orange;
  transition-duration: 0.3s;
}

.logo:hover {
  box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 10px rgba(255, 0, 0, 0.662745098), 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
}

.menu {
  margin: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.bio {
  font-style: italic;
  letter-spacing: 0.3mm;
}

form {
  display: grid;
}

.hrv {
  border: none;
  border-left: 1px solid hsl(200, 10%, 50%);
  height: 1cm;
  width: 1px;
  opacity: 0, 1;
}

hr {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.4);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  filter: brightness(0.9);
  border-radius: 1%;
  box-shadow: -10px -10px 0px 1px rgba(255, 165, 0, 0.68);
  -webkit-box-shadow: -10px -10px 0px 1px rgba(255, 165, 0, 0.68);
  -moz-box-shadow: -10px -10px 0px 1px rgba(255, 165, 0, 0.68);
}

.photo {
  animation-name: slit-in-vertical;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

@keyframes slit-in-vertical {
  0% {
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  50% {
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateY(0);
  }
}/*# sourceMappingURL=stile.css.map */
