/*SmartPhone*/
@media only screen and (max-width: 435px) {
  h1,
  h3,
  h4,
  ul,
  .griglia img,
  .griglia,
  .contenitor,
  .accordion,
  .panel,
  .card-contenitor,
  .card {
    margin: 1px 10px !important;
  }
  .contenitor,
  .accordion,
  .padding {
    align-items: flex-start !important;
    justify-content: left !important;
    margin: 0px 0px !important;
    width: 370px !important;
  }
  .card-contenitor {
    display: block !important;
    width: 355px !important;
  }
  .griglia {
    display: grid !important;
    padding: 0px !important;
    max-width: 100%;
  }
  .panel {
    padding: 0px 0px !important;
    max-width: 100%;
  }
}
/*Tablet*/
@media only screen and (min-width: 436px) and (max-width: 960px) {
  h1,
  h3,
  h4,
  ul,
  .griglia img,
  .griglia,
  .contenitor,
  .accordion,
  .panel,
  .card-contenitor,
  .card {
    margin: 0px 25px !important;
  }
  body {
    width: 810px;
  }
}
h1,
h3 {
  margin: 200px;
  font-weight: bolder;
  letter-spacing: 0.1mm;
  text-indent: -3%;
  font-size: larger;
}

h4 {
  margin: 205px;
  padding: 5px;
  font-style: bold;
}

main {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(84, 84, 191) 0%, rgba(218, 33, 33, 0.808) 100%);
}

main .curriculum {
  box-sizing: border-box;
  box-shadow: 0px -5px 15px 5px rgba(0, 0, 0, 0.2);
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgba(255, 255, 255, 0.8575630936) 0%, rgb(255, 255, 255) 100%);
}
@media only screen and (min-width: 961px) {
  main .curriculum {
    margin: auto 360px;
  }
}

ul {
  margin: 200px;
}

.content-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.griglia img {
  width: 250px;
  height: 225px;
}

.change:hover {
  filter: brightness(1.1);
}

.griglia {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 20px 150px;
}

.contenitor {
  display: grid;
}
@media only screen and (min-width: 961px) {
  .contenitor {
    width: 700px;
    margin: 5px 210px;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
  }
}

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 700px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.card-contenitor {
  display: grid;
  padding: 1px;
  width: 50%;
  margin: 5px 200px;
}

.card {
  width: 300px;
  border-radius: 15px 50px;
  margin: 1px;
  box-shadow: 10px 10px 5px lightblue;
  padding: 1px;
}

.double-card:hover .ide {
  color: rgb(165, 71, 165);
  transition-duration: 0.1s;
}
.double-card:hover .ude {
  filter: brightness(0.25);
  transition-duration: 0.1s;
}

.ide {
  display: flex;
  align-items: end;
  justify-content: right;
  text-shadow: 0px 7px 5px rgba(206, 114, 76, 0.6);
  font-size: larger;
}

.double-card {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=cuv.css.map */