html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 20px;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5mm;
    font-size: large;
    line-height: 1.6;
    text-align: justify;
    color: rgba(238, 163, 25, 0.89);
}

/*SmartPhone*/
@media only screen and (max-width: 400px) {
    .logo {
        width: 50%;
    }
}

/*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .logo {
        width: 30%;
    }
}

.header {
    z-index: 100;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 15px 5px #00000031;
}

body .header {
    position: sticky;
    top: 0;
    transition-duration: 0.2s;
}

.nav-item:hover {
    background-color: rgba(128, 128, 128, 0.116);
    border-radius: 2%;
    transition-duration: 0.1s;
}

.change {
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.change:hover {
    color: orange;
    transition-duration: 0.3s;
}

.logo:hover {
    -webkit-box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 10px #FF0000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 20px 0px -10px #FFFFFF, 0px -20px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 0px 0px 0px 10px #FF0000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
}

.menu {
    margin: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.hrv {
    border: none;
    border-left: 1px solid hsl(200, 10%, 50%);
    height: 1cm;
    width: 1px;
    opacity: 0, 1;
}

hr {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.4);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}