* {
    box-sizing: border-box;
    margin: 3mm;
    padding: 0;
}

/*SmartPhone*/
@media only screen and (max-width: 400px) {
    .logo {
        width: 50%;
    }
}

/*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .logo {
        width: 30%;
    }
}

.hrv {
    border: none;
    border-left: 1px solid hsl(200, 10%, 50%);
    height: 1cm;
    width: 1px;
    opacity: 0, 1;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}